*{margin: 0; border: 0; padding: 0;}

body {
    background-color: rgb(128, 213, 1);
}

.container {
    padding: 5px;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: row;
    height: 50px;
    
}

.profile-picture {
    border-radius: 50%;
    height: 50px;
}

.profile-name {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-left: 20px;
}


.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 800px;
    padding-left: 18%;

}

.add {
    display: flex;
    width: 400px;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.add-btn {
    width: 40px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-btn:hover {
    background-color: rgb(218, 147, 147);
}

.add-btn:active {
    background-color: red;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.l {
    display: block;
}